<div class="component product-create-form">
  <form (ngSubmit)="onProductSubmitClick()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Product Name</label>
        <input name="1" type="text" class="form-control" id="inputEmail4" [(ngModel)]="createProductModel.name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Product Category</label>
        <input name="2" type="text" class="form-control" id="inputPassword4" [(ngModel)]="createProductModel.category">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail41">Merchant Name</label>
        <input name="3" type="text" class="form-control" id="inputEmail41" [(ngModel)]="createProductModel.merchantName">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword41">Merchant IBAN</label>
        <input name="4" type="text" class="form-control" id="inputPassword41" [(ngModel)]="createProductModel.merchantIBAN">
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="inputEmail43">Customer Name</label>
        <input name="5" type="text" class="form-control" id="inputEmail43" [(ngModel)]="createProductModel.customerName">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword431">Customer IBAN</label>
        <input name="6" type="text" class="form-control" id="inputPassword431" [(ngModel)]="createProductModel.customerIBAN">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit Product</button>
    <button (click)="onFormResetClick()" type="button" class="btn btn-danger float-right">Clear Form</button>
  </form>
</div>
