<div class="application">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <app-product-create-form></app-product-create-form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-12">
        <app-product-list></app-product-list>
      </div>
    </div>
  </div>

  <div *ngIf="editModalState" class="modal-area">
    <div class="product-edit-modal">
      <app-product-edit-form></app-product-edit-form>
    </div>
  </div>

  <div *ngIf="deleteModalState" class="modal-area">
    <div class="product-delete-modal">
      <app-product-delete-modal></app-product-delete-modal>
    </div>
  </div>
</div>
